@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  scroll-behavior: smooth;
}

body {
  /* min-height: 200vh; */
  background-color: white;
}

.nodisplay {
  display: none;
}

.display-unset {
  position: relative;
  display: unset;
  z-index: 10;
}

:root {
  --dahsboard-icon-f: 2.5vw;
  --sidebar-bg: #0ea5e9;
  --sidebar-f: white;
  --icon-size: 24px;
  --general-gap: 5px;
  --body-color: #f1f5f9;
}

.dashboard span {
  font-size: var(--dahsboard-icon-f);
  font-size: var(--icon-size);
}

.side-bar {
  padding: var(--general-gap);
  background-color: var(--sidebar-bg);
  color: var(--sidebar-f);
  z-index: 10;
}

.side-bar ul {
  list-style-type: none;
  line-height: 2;
  padding-top: var(--general-gap);
}

.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.dashboard {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: var(--general-gap);
}

.dashboard span {
  font-size: var(--dahsboard-icon-f);
  grid-column: 1 / 2;
  align-self: center;
}

.dashboard h4 {
  grid-column: 2 / 3;
  align-self: center;
  font-size: 2.5vw;
}

.side-bar {
  border: 3px solid var(--sidebar-bg);
  box-shadow: 1px 1px 2px var(--sidebar-bg);
  grid-column: 1 / 2;
  height: 100vh;
  /* height: 100%; */
  width: 20%;
  position: fixed;
  overflow-y: auto;
  scrollbar-color: var(--sidebar-bg) transparent;
  scrollbar-width: thin;
}

.side-bar nav {
  padding-top: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.side-bar li {
  display: grid;
  grid-template-columns: 20% 80%;
  transition: transform 0.5s ease;
}

.side-bar li:hover {
  transform: scaleY(1.25);
}

.side-bar span {
  justify-self: center;
}

/* header */

.header {
  border: 2px solid whitesmoke;
  box-shadow: 3px 3px 5px whitesmoke;
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* column-gap: 25px; */
  row-gap: 25px;
  padding: var(--general-gap);
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(255, 255, 255); /* Non-transparent white */
}

.header span {
  font-size: var(--icon-size);
  justify-self: flex-end;
}

.header .search-container {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
}

.header .search-icon {
  grid-column: 1 / 2;
  justify-self: center;
}

.header .search-box {
  grid-column: 2 / 3;
  height: 60%;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  background-color: var(--body-color);
}

.header .profile-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  align-items: center;
}

.profile-container .notification-icon {
  justify-self: center;
}

.header .profile-image {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 25px;
}

.profile-container .profile-image {
  justify-self: start;
}

.profile-container .profile-name {
  justify-self: start;
  font-weight: bold;
  font-size: 2vw;
}

.header .profile-intro-container {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.profile-intro-container #profile-image {
  grid-row: 1 / 3;
  justify-self: center;
}

.profile-intro-container :nth-child(2) {
  align-self: center;
}

.profile-intro-container p {
  grid-column: 2 / 3;
  font-weight: bold;
}

.header .button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  /* align-content: center; */
}

.button-container button {
  border-color: var(--sidebar-bg);
  border-radius: 25px;
  height: 50px;
  width: 90%;
  background-color: var(--sidebar-bg);
  color: white;
  font-size: 18px;
  justify-self: start;
}

button:hover {
  opacity: 0.8;
}

/* project container  */

main {
  grid-column: 2 / 4;
  padding: 25px 0 0 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: var(--body-color);
}

/* .project-container {
  overflow: scroll;
} */

.project-container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding-top: 15px;
}

.cards-container .cards {
  border-left: 10px solid #fbbf24;
  box-shadow: 5px 5px 2px white;
  border-radius: 10px;
  padding: 20px;
  padding-right: 10px;
  height: 110%;
  display: grid;
  background-color: rgb(255, 255, 255);
  font-size: 1vw;
}

.cards .icon-container {
  justify-self: end;
  display: flex;
  gap: 10px;
}

.side-display-container {
  grid-column: 2 / 3;
  font-size: 1vw;
}

.announcement-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 25px;
}

.announcement-container div {
  max-width: 350px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.announcement-container div {
  border-bottom: 1px solid black;
}

#trending {
  padding-left: 25px;
}
.trending-container {
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  width: 80%;
  display: grid;
  align-items: center;
  gap: 25px;
  border-radius: 10px;
  justify-content: center;
  margin-left: 25px;
}

.trending-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
}

.trending-profile p {
  grid-column: 2 / 3;
}

.trending-image {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 25px;
  grid-column: 1 /2;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: start;
}
